/* ========================================
   GENERAL STYLES
   ======================================== */

body {
    background-color: #e5d5c1;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}


/* ========================================
   HEADER / NAVIGATION MENU
   ======================================== */

.menu {
    background-color: #efe3b3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Website Name */
.menu h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    margin: 0;
}

/* Navigation Links */
.menu nav {
    display: flex;
    gap: 50px;
    padding: 0px 80px;
}

.menu nav a {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 15px;
}


/* ========================================
   HOME PAGE
   ======================================== */

.hero-section h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    text-align: center;
    margin: 70px 0px 0px 0px;
}

.hero-section p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 20px 0px 0px 0px;
    font-size: 17px;
}

.hero-section button {
    display: block;
    margin: 30px auto 0px auto;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #18542a;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.hero-section button:hover {
    background-color: #246B38;
    color: white;
    padding: 10px 20px;
    border: none;
    transition: background-color 0.3s ease;
}

.why-use-section {
    margin: 50px 0px 0px 0px;
    text-align: left;
}

.why-use-section h2 {
    font-family: 'Lora', serif;
    font-size: 28px;
    margin: 0px 0px 20px 30px;
}

.why-use-section h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin: 0px 0px 10px 30px;
}

.why-use-section p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: 0px 0px 20px 30px;
    line-height: 1.5;
}

.home-introduction h2 {
    font-family: 'Lora', serif;
    font-size: 30px;
    text-align: center;
    margin: 70px 0px 0px 0px;
}

.home-introduction p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 20px 0px 0px 0px;
    font-size: 16px;
}

.home-introduction button {
    display: block;
    margin: 30px auto 0px auto;
    padding: 10px 20px;
    font-size: 17px;
    background-color: #18542a;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.home-introduction button:hover {
    background-color: #246B38;
    color: white;
    padding: 10px 20px;
    border: none;
    transition: background-color 0.3s ease;
}

.cta-section {
    margin: 50px 0px 0px 0px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.cta-section h2 {
    font-family: 'Lora', serif;
    font-size: 28px;
    margin: 0px;
}

.cta-section p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: 0px;
    line-height: 1.5;
}

.cta-section button {
    margin: 30px auto 0px auto;
    padding: 10px 20px;
    font-size: 17px;
    background-color: #18542a;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.cta-section button:hover {
    background-color: #246B38;
    color: white;
    padding: 10px 20px;
    border: none;
    transition: background-color 0.3s ease;
}

footer {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background-color: #efe3b3;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}


/* ========================================
   DASHBOARD PAGE
   ======================================== */

.dashboard-header {
    margin: 30px 0px 20px 30px;
}

.dashboard-header h2 {
    font-family: 'Lora', serif;
    font-size: 40px;
    font-weight: bold;
    margin: 0px 0px 20px 0px;
}

.dashboard-header p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: 0px 0px 20px 0px;
}

/* Expiration Status Section */
.status-section {
    display: flex;
    gap: 10px;
    margin-top: 30px;
}

/* Status Cards */
.status-card {
    flex: 1;
    width: 150px;
    height: 130px;
    margin: 10px 30px 10px 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: inline-block;
}

/* Status Name */
.status-card h3 {
    font-family: 'Lora', serif;
    color: black;
    font-size: 19px;
    margin: 15px 0px 15px 0px;
}

/* Item Count */
.status-card p {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 25px;
    font-weight: bold;
    margin: 15px 0px 15px 0px;
}

/* Description */
.status-card span {
    font-family: 'Poppins', sans-serif;
    color: #36383A;
    font-size: 12px;
    margin: 15px 0px 15px 0px;
}

/* Status Colors */
.good {
    background-color: #7FBE91;
    color: black;
}

.soon {
    background-color: #78A9D1;
    color: black;
}

.urgent {
    background-color: #E8C95A;
    color: black;
}

.critical {
    background-color: #EFA45F;
    color: black;
}

.expired {
    background-color: #E88B8B;
    color: black;
}

.attention-section {
    margin: 50px 0px 50px 30px;
}

.attention-section h2 {
    font-family: 'Lora', serif;
    font-size: 30px;
    margin: 0px 0px 20px 0px;
}

.dashboard-item-card {
    flex: 1;
    height: 80px;
    margin: 20px 30px 20px 30px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 10px 40px 10px 40px;
}

.item-info h3 {
    font-family: 'Lora', serif;
    font-size: 16px;
    margin: 0px 0px 15px 0px;
}

.item-info h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin: 10px 0px 0px 0px;
}

.item-info p {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    margin: 0px 0px 15x 0px;
}


/* ========================================
   INVENTORY PAGE
   ======================================== */

.inventory-header {
    margin: 30px 0px 20px 30px;
}

.inventory-header h1 {
    font-family: 'Lora', serif;
    font-size: 40px;
    font-weight: bold;
    margin: 0px 0px 20px 0px;
}

.inventory-header p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: 0px 0px 20px 0px;
}

/* Inventory Summary */
.inventory-summary {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
}

#inventory-total-items {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

/* Inventory Controls */
.inventory-controls {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 25px;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
}

/* Search */
.search-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.search-container label {
    font-weight: 600;
}

.search-container input {
    width: 250px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

/* Filter and Sort */
.filter-container,
.sort-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.filter-container label,
.sort-container label {
    font-weight: 600;
}

.filter-container select,
.sort-container select {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background-color: white;
    cursor: pointer;
}

/* Inventory List */
.inventory-list h2 {
    font-family: 'Lora', serif;
    font-size: 30px;
    margin: 30px 0px 10px 30px;
}

/* Inventory Item Cards */
.inventory-item-card {
    width: 70%;
    min-height: 40px;
    margin: 10px auto;
    padding: 15px 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    align-items: center;
    gap: 20px;
}

.inventory-item-card h3 {
    font-family: 'Lora', serif;
    font-size: 17px;
    text-align: left;
    margin: 0;
}

.inventory-item-card h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    margin: 0;
}

.inventory-item-card p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-align: center;
    margin: 0;
}

.inventory-item-card .item-status {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-align: right;
    margin: 0;
}

.item-status {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin: 0;
}

/* Inventory Status Colors */
.inventory-item-card.good {
    background-color: #7FBE91;
    color: black;
}

.inventory-item-card.soon {
    background-color: #78A9D1;
    color: black;
}

.inventory-item-card.urgent {
    background-color: #E8C95A;
    color: black;
}

.inventory-item-card.critical {
    background-color: #EFA45F;
    color: black;
}

.inventory-item-card.expired {
    background-color: #E88B8B;
    color: black;
}

/* Delete Confirmation Popup */
.delete-confirm-content {
    text-align: center;
}

.delete-confirm-content h2 {
    margin-bottom: 10px;
}

.delete-confirm-content p {
    margin-bottom: 25px;
}

.delete-actions {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.delete-actions button {
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}


/* ========================================
   ADD ITEM BUTTON
   ======================================== */

#addItemButton {
    display: block;
    margin: 25px auto 15px auto;
    padding: 12px 30px;
    background-color: #1e9b43;
    color: white;
    border: none;
    border-radius: 12px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0px 4px 0px #0f3d1e;
    transition: all 0.2s ease;
}

#addItemButton:hover {
    background-color: #236b38;
    transform: translateY(-2px);
    box-shadow: 0px 6px 0px #0f3d1e;
}

#addItemButton:active {
    transform: translateY(2px);
    box-shadow: 0px 2px 0px #0f3d1e;
}


/* ========================================
   POPUP / MODAL
   ======================================== */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-content {
    font-family: 'Poppins', sans-serif;
    background-color: #efe3b3;
    padding: 20px;
    width: 400px;
    margin: 100px auto;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
}